@font-face {
  font-family: 'LatoRegular';
  src: url('../../public/fonts/lato/Lato-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LatoBold';
  src: url('../../public/fonts/lato/Lato-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LatoExtraBold';
  src: url('../../public/fonts/lato/Lato-ExtraBold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
